#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot{
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: loader 0.5s infinite alternate;
}

.loader .dot:nth-child(2){
animation-delay: 100ms;
}
.loader .dot:nth-child(3){
animation-delay: 200ms;
}
.loader .dot:nth-child(4){
animation-delay: 300ms;
}
.loader .dot:nth-child(5){
animation-delay: 400ms;
}

@keyframes loader {
  100%{
    translate: 0 -20px;
  }
}

